{% extends 'DatingSite/base.html' %}
{% block content %}
        <div>{{ user_info.name }} {{ user_info.surname }}, {{ user_info.gender }}</div>
        <div> Lives in {{ user_info.country_of_residence }}</div>
        <div>{{ user_info.user_description }}</div>
        {% load static %}
        <div><img src="{% static user_info.user_avatar %}" width="240px" height="auto"></div>
        <div> <a href="{% url 'user_profile:edit_profile' login_id=user_info.login.pk %}">Edit profile</a></div>
{% endblock %}