{% extends 'DatingSite/base.html' %}
 {% load static %}

{% block content %}

        {% if profiles_list %}
            {% for profile in profiles_list %}
                <div class="user_card">
                    <img class='small_avatar' src="{% static profile.user_avatar %}" width="60px" height="auto">
                    <div class="user_info">
                        <span>
                            {{ profile.name }} {{ profile.surname }}
                        </span><br>
                        <span>
                            {{ profile.gender }} - Lives in {{ profile.country_of_residence }}
                        </span><br>
                        <span>
                               <a href="{% url 'user_profile:view_profile' login_id=profile.login.pk %}">Watch profile</a>
                        </span>
                    </div>
                    <form method="post">
                          {% csrf_token %}
                                {% if profile.liked == True %}
                                    {{ profile.liked }}
                                    <button type="submit" class="like-button filled-button" name="liked_user" value="{{ profile.login.pk }}" id="{{ profile.login.pk }}-like" onclick="changeColor(id)"><img src="{% static 'icons/heart-fill.svg' %}"></button>
                                {% else %}
                                    {{ profile.liked }}
                                    <button type="submit" class="like-button empty-button" name="liked_user" value="{{ profile.login.pk }}" id="{{ profile.login.pk }}-not_like" onclick="changeColor(id)"><img src="{% static 'icons/heart.svg' %}"></button>
                                {% endif %}
                    </form>
                </div>
            {% endfor %}
        {% else %} <p>There is no people yet</p>
        {% endif %}
<div><a href="{% url 'menu' %}">Return to menu</a></div>
{% endblock %}

