.page-header {
    background-color: #124d6a;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}


.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Orbitron', sans-serif;
}

.user_card {
display: flex;
border: 2px solid #124d6a;
border-radius: 5px;
margin-bottom: 15px;
align-items: center;
}

.small_avatar {
margin: 5px;
}


